[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch-cpu"

[packages]
sudachipy = "*"
sudachidict-core = "*"
invoke = "*"
ruff = "*"
torch = {version = "*", index = "pytorch-cpu"}
transformers = "*"
sentencepiece = "*"
protobuf = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
